*{margin: 0;padding: 0;}

.bg-image{
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("ayop.jpg");
    background-position: center;
    background-size: cover;    
}

.aa{
    font-family: 'Poppins', sans-serif;
}